@charset "UTF-8";
body {
  color: black;
  font-family: ヒラギノ明朝 ProN, sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  transition: all 1s ease 0s;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  z-index: 10;
}

section {
  margin-bottom: 160px;
}

@media screen and (max-width: 767px) {
  section {
    margin-bottom: 96px;
  }
}

.section-title {
  font-size: 40px;
  color: #333333;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}

.section-title:after {
  display: inline-block;
  position: absolute;
  content: "";
  border-bottom: 1px solid #3EA1D1;
  width: 50px;
  left: 50%;
  bottom: -10%;
  transform: translateX(-25px);
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 64px;
  }
}

p {
  font-size: 16px;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  padding: 16px 54px;
  text-align: center;
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
}

.btn:hover {
  background-color: #3EA1D1;
  color: white;
}

.logo {
  width: 120px;
  height: auto;
}

.scale {
  display: inline-block;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.scale:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 100;
}

.header-nav {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  display: flex;
  padding: 27px 0;
  box-sizing: content-box;
}

.nav-lists {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  letter-spacing: .1em;
}

.nav-lists li + li {
  margin-left: 46px;
}

.nav-lists li a:hover {
  color: #3EA1D1;
}

@media screen and (max-width: 767px) {
  .nav-lists {
    display: none;
  }
}

/*================================================================================
# top
============================================================================ */
.top {
  position: relative;
}

@media screen and (min-width: 768px) {
  .top-img {
    padding-top: 55%;
    background: url(../img/top.png) top right/82.5% no-repeat;
    margin-left: inherit;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .top-img {
    background: url(../img/sm-top.png) center center/cover no-repeat;
    padding-top: 120%;
    background-size: 100%;
    margin-bottom: 40px;
    margin-top: 60px;
  }
}

.top-text {
  position: absolute;
  left: 50;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 82px 44px 90px 40px;
}

@media screen and (max-width: 767px) {
  .top-text {
    top: 0%;
    left: inherit;
    transform: inherit;
    padding-top: 10px;
    padding-bottom: 0;
    position: inherit;
  }
}

.top-text h1 {
  font-size: 26px;
}

@media screen and (max-width: 767px) {
  .sm-none {
    display: none;
  }
}

/*================================================================================
# concept
============================================================================ */
.concept-inner {
  display: flex;
  align-items: center;
}

.concept-inner img {
  flex: 0 0 50%;
}

@media screen and (max-width: 767px) {
  .concept-inner {
    display: block;
  }
}

.concept-inner-text {
  margin-left: 6.6667%;
  flex: 0 1 50%;
  margin-top: 15px;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .concept-inner-text {
    margin-top: 40px;
    margin-left: 0px;
  }
}

.concept-inner-text h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

/*================================================================================
# Feature
============================================================================ */
@media screen and (min-width: 768px) {
  .feature-inner {
    display: flex;
    justify-content: space-around;
  }
}

.feature-card {
  box-shadow: 1px 1px 5px 1px #999;
  width: 30%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .feature-card {
    display: block;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto 20px;
  }
}

.feature-card p {
  text-align: center;
  padding: 32px 0;
}

/*================================================================================
# 大きい写真
============================================================================ */
.big-img {
  background: url(../img/bg.png) center center/cover;
  max-width: 1280px;
  padding: 125px 0;
  position: relative;
}

.big-img::before {
  position: absolute;
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .big-img {
    width: 100%;
    height: auto;
  }
}

.big-img-text {
  position: relative;
  color: white;
}

.big-img-text h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .big-img-text h2 {
    font-size: 19px;
  }
}

/*================================================================================
# Products
============================================================================ */
.products-inner {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
}

.products-inner a {
  flex: 0 0 27.6%;
  height: auto;
  display: inline-block;
  overflow: hidden;
}

.products-inner p:nth-child(3) {
  color: #888888;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .products-inner {
    width: 90%;
    display: block;
  }
  .products-inner img {
    margin-bottom: 24px;
  }
  .products-inner a {
    margin-bottom: 48px;
  }
}

.btn-more {
  margin-top: 50px;
  display: inline-block;
}

/*================================================================================
# news
============================================================================ */
.news {
  max-width: 1040px;
  margin: 0 auto;
  margin-bottom: 160px;
}

article {
  padding-bottom: 24px;
  align-items: center;
  margin-top: 22px;
  border-bottom: 1px solid #E0E0E0;
}

@media screen and (min-width: 768px) {
  article {
    display: flex;
  }
}

article > img {
  padding-top: 61.5385%;
  top: 50%;
  left: 50%;
  height: auto;
}

.article-img {
  flex: 0 0 260px;
  overflow: hidden;
}

time {
  font-size: 14px;
}

.article-text {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .article-text {
    padding-left: 0px;
  }
}

.article-text h5 {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .article-text h5 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .article-text p {
    font-size: 13px;
  }
}

.second-concept-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .second-concept-wrapper {
    display: block;
    margin: 0 auto;
  }
}

.second-concept-wrapper img {
  width: 600px;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .second-concept-wrapper img {
    width: 100%;
  }
}

.second-concept-text {
  margin-right: 80px;
  margin-left: 40px;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .second-concept-text {
    margin-left: 20px;
    margin-right: 10px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .second-concept-text {
    margin-left: 10px;
    margin-right: 0px;
    display: block;
  }
}

.second-concept-text h3 {
  font-size: 28px;
  margin-top: 100px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .second-concept-text h3 {
    margin-top: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .second-concept-text h3 {
    margin-top: 40px;
    font-size: 20px;
  }
}

/* contact
------------------------------------------------------*/
.contact {
  background: url(../img/contact.png) center center/cover;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.section-title {
  color: #3EA1D1;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  border-radius: 2px;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-form p {
  font-size: 14px;
  letter-spacing: .1em;
  text-align: center;
  margin: 18px;
}

.star {
  font-size: 16px;
  color: #E7728E;
}

.contact-form-item {
  max-width: 510px;
  margin: 18px auto 0;
  display: flex;
}

.contact-form-item + .contact-form-item {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .contact-form-item {
    display: block;
    max-width: 320px;
  }
}

.check-box-text {
  text-align: center;
  display: block;
}

.contact-item-title {
  flex: 0 1 100%;
  background-color: #79BDDE;
  opacity: .7;
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 2px;
  position: relative;
}

.contact-item-title:after {
  position: absolute;
  content: "";
  top: 0;
  right: -8px;
  border-style: solid;
  border-width: 20px 0 20px 8px;
  border-color: transparent transparent transparent #79BDDE;
}

@media screen and (max-width: 767px) {
  .contact-item-title {
    display: inline-block;
    margin-left: 18px;
  }
}

.contact-item-title span {
  color: #E7728E;
  padding-left: 2px;
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}

.form-input {
  flex: 0 0 320px;
  margin-left: 18px;
}

.contact-radio-wrap {
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 1px;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-parts {
  background-color: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}

.contact-radio-input:focus + .contact-radio-parts {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-radio-parts {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}

.contact-privacy {
  position: relative;
  display: inline-block;
}

.contact-privacy-input {
  position: absolute;
  height: 22px;
  width: 22px;
  display: inline-flex;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-parts {
  width: 10px;
  height: 18px;
  border-top: 0;
  border-left: 0;
  background: transparent;
  transform: rotate(45deg);
}

.contact-privacy-parts {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid #3EA1D1;
  background-color: #fff;
  vertical-align: middle;
  top: 0;
  left: 0;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-btn {
  display: block;
  background-color: #fff;
  margin: 50px auto 0;
}

.-active {
  background: #3EA1D1;
  color: #fff;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

/* footer
------------------------------------------------------*/
footer {
  padding-top: 48px;
  text-align: center;
}

footer img {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer-a {
  margin-left: 24px;
}

@media screen and (max-width: 767px) {
  .footer-a {
    font-size: 12px;
    display: block;
    padding: 4px 0;
    margin-left: 0;
  }
}

.fab {
  color: #3EA1D1;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .fab {
    font-size: 22px;
  }
}

.fa-twitter, .fa-instagram {
  margin-right: 12px;
}

.copy-light {
  margin-bottom: 17px;
}

@media screen and (max-width: 767px) {
  .copy-light {
    font-size: 12px;
  }
}

.drawer-icon {
  display: none;
  position: fixed;
  right: 10px;
  top: 26px;
  z-index: 110;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: 28px;
  height: 22px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #3EA1D1;
  width: 100%;
  height: 4px;
  border-radius: 0;
  transition: all 0.3s linear 0s;
}

.drawer-bar:nth-of-type(1) {
  top: 0;
}

.drawer-bar:nth-of-type(2) {
  top: 9px;
}

.drawer-bar:nth-of-type(3) {
  top: 18px;
}

.is-checked .drawer-bar:nth-of-type(1) {
  top: 10px;
  transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
  background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
  top: 10px;
  transform: rotate(45deg);
}

.drawer-background.is-checked {
  display: block;
  opacity: 0.8;
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 70px;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translateX(105%);
  z-index: 40;
  width: 270px;
  max-width: 90%;
  height: 100%;
  background: #79BDDE;
  transition: all 0.5s ease 0s;
  text-align: left;
}

.drawer-content.is-checked {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

.drawer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer-content ul li {
  border-bottom: 1px dotted white;
}

.drawer-content ul li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 13px 30px 12px 20px;
  color: white;
}

input[type="text"]:disabled {
  background: #ccc;
}
